<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<% include templates/header.ejs%>
<!--<br><br>-->
<!--<form action="/" method="GET">-->
    <!--Search: <input type="text" name="search">-->
    <!--<input type="submit" value="Search">-->
<!--</form>-->
<!--<ul>-->
    <!--<% for (var result in results){ %>-->
    <!--<h3>  <%= results[result].title %> </h3>-->
    <!--<h6>    <a href="<%= results[result].link %>"><%= results[result].link %></a>     </h6>-->
    <!--<% } %>-->
<!--</ul>-->
</body>
</html>
